body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.item-list img {
  width: 100%;
  height: auto;
}
.item-list {
  justify-content: space-between;
  padding: 1em;
  margin: 1em;
  align-items: flex-start;
  border: 1px solid black;
  width: 15em;
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.item-card {
  width: 20em;
  height: auto;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
}
.item-card img {
  width: 100%;
  height: auto;
}
.login {
  margin-left: 10px;
  padding: 8px, 10px;
  background-color: white;
  color: black;
  border-radius: 3px;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navbar li {
  margin: 1rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  background-color: #555;
  color: #fff;
  border-radius: 4px;
}

.navbar button {
  background-color: #f44;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: #d33;
}

/*styling the hero section */

.hero {
  color: black;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  background: url("https://media.istockphoto.com/id/1412723839/photo/online-buying-and-delivery-concept.jpg?s=612x612&w=0&k=20&c=GoPboEBhcm4AEsVPI7kgcD3lYIUABarVnp6_otsTHcY=");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.hero h1 {
  margin-top: 150px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.hero-link {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.hero-link:hover {
  background-color: #34c0eb;
  color: white;
}

/*styling the login page */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: lightgreen;
  padding: 20px;
}
.login h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}
